body {
    background: linear-gradient(
        135deg,
        #08000f,
        #160024,
        #050008
    );

    color: #ffffff;
    text-transform: lowercase;
}

h1 {
    font-size: 55px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;

    text-shadow:
        0 0 5px #b026ff,
        0 0 15px #b026ff,
        0 0 30px #b026ff,
        0 0 50px #8a00ff;

    letter-spacing: 5px;
    margin-top: 40px;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;

    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom: 10px;

    border-bottom: 2px solid #b026ff;
}

/* FUNK */
.funk {
    color: #d946ff;

    text-shadow:
        0 0 5px #d946ff,
        0 0 15px #d946ff,
        0 0 30px #d946ff,
        0 0 50px #8a00ff;
}

/* PAGODE */
.pagode {
    color: #ff4fc3;

    text-shadow:
        0 0 5px #ff4fc3,
        0 0 15px #ff4fc3,
        0 0 30px #ff4fc3,
        0 0 50px #ff008c;
}

/* POESIA */
.poesia {
    color: #5c9dff;

    text-shadow:
        0 0 5px #5c9dff,
        0 0 15px #5c9dff,
        0 0 30px #5c9dff,
        0 0 50px #0066ff;
}

/* SERTANEJO */
.sertanejo {
    color: #ffd84d;

    text-shadow:
        0 0 5px #ffd84d,
        0 0 15px #ffd84d,
        0 0 30px #ffd84d,
        0 0 50px #ff9900;
}

/* VÍDEOS */
.musica {
    width: 80%;
    max-width: 700px;
    height: 400px;

    margin: 0 auto 25px auto;
    display: block;

    border-radius: 25px;
    border: 3px solid #d946ff;

    box-shadow:
        0 0 8px #d946ff,
        0 0 20px #b026ff,
        0 0 40px #8a00ff;

    transition: 0.3s;
}

/* EFEITO AO PASSAR O MOUSE */
.musica:hover {
    border-color: #ff4dff;

    box-shadow:
        0 0 12px #ff4dff,
        0 0 30px #d946ff,
        0 0 60px #8a00ff;

    transform: scale(1.02);
}