body {
    background: linear-gradient(
        135deg,
        #ddd1f2,
        #f7f2ff,
        #d4c5eb
    );
    color: #40364f;
    text-transform: lowercase;
}

h1 {
    font-size: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, #8064a8, #b497d6);
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 8px #c4b5d9;
    letter-spacing: 3px;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 6px #c4b5d9;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #c4b5d9;
}

.funk {
    color: #8b6bb3;
}

.pagode {
    color: #b77d9d;
}

.poesia {
    color: #6388b8;
}

.sertanejo {
    color: #b59a52;
}

.musica {
    width: 80%;
    max-width: 700px;
    height: 400px;
    margin: 0 auto 25px auto;
    display: block;

    /* bordas arredondadas */
    border-radius: 25px;

    /* borda suave */
    border: 3px solid #d8cbea;

    /* sombra suave */
    box-shadow: 0 5px 20px #b9a9d2;
}
